<span style="display: block;padding-top: 10px;padding-bottom: 10px;"></span>

<!--social-->
<container class="footer">
    <row>
        <columns>
            <center>
                <wrapper  class="social-list text-center">
                    <a href="{fbPageLink}" class="social expanded">
                        <img src="https://www.englishdom.com/email/weekly/template/img/social-fb.png" alt="facebook" class="social-img">
                    </a>
                    <a href="{vkPageLink}" class="social">
                        <img src="https://www.englishdom.com/email/weekly/template/img/social-vk.png" alt="vk" class="social-img">
                    </a>
                    <a href="https://www.instagram.com/englishdom_school/" class="social">
                        <img src="https://www.englishdom.com/email/weekly/template/img/instagram.png" alt="instagram" class="social-img">
                    </a>
                    <a href="{googlePageLink}" class="social">
                        <img src="https://www.englishdom.com/email/weekly/template/img/social-gp.png" alt="google" class="social-img">
                    </a>
                    <a href="{youtubePageLink}" class="social">
                        <img src="https://www.englishdom.com/email/weekly/template/img/social-yt.png" alt="youtube" class="social-img">
                    </a>
                    <a href="{blogLink}" class="social">
                        <img src="https://www.englishdom.com/email/weekly/template/img/social-blog.png" alt="blog" class="social-img">
                    </a>
                    <a href="https://itunes.apple.com/us/app/englishdom-words/id1282915927?ls=1&mt=8" class="social">
                        <img src="https://www.englishdom.com/email/weekly/template/img/app-store.png" alt="app store" class="social-img">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.englishdom.smartwords" class="social">
                        <img src="https://www.englishdom.com/email/weekly/template/img/google-play.png" alt="google play" class="social-img">
                    </a>
                </wrapper>
                <span style="display: block;padding-top: 5px;padding-bottom: 5px;"></span>
                <wrapper  class="unsubscribe">
                    <span class="text-unsubscribe">Вы подписаны на рассылку от&nbsp;EnglishDom.
                        <a href="{unsubscribeLink}" class="link-unsubscribe">Отписаться</a></span> <br>
                    <span class="text-unsubscribe">Возникли вопросы? Пишите нам:
                        <a href="mailto:{feedbackAddress}" class="email-link-footer">letters@englishdom.com</a></span>
                </wrapper>
            </center>
        </columns>
    </row>
</container>

</container>
</center>
</td>
</tr>
</table>