<span class="preheader">{{description}}</span>
<table class="body weekly-body" style="background-image: url({{weeklyBg}});">
    <tr>
        <td class="center" align="center" valign="top">
            <center>

                <container class="main-container weekly {{theme}}">
                    <img src="{{seriesImg}}"
                         alt="series" width="600" height="105" class="series-img">
                    <container class="logo-container">
                        <row>
                            <columns large="9" class="header-column">
                                <span style="display: block;padding-top: 6px;padding-bottom: 6px;"></span>
                                <img src="https://www.englishdom.com/email/weekly/2017-06-29_sherlock/englishdom-logo.png" alt="logo" width="139" height="49"
                                     class="logo-weekly">
                            </columns>
                            <columns class="large-offset-2">
                                <span style="display: block;padding-top: 12px;padding-bottom: 13px;"></span>
                                <img src="https://www.englishdom.com/email/weekly/2017-06-29_sherlock/label-weekly.png" alt="label" width="154" height="30"
                                     class="label-weekly">
                            </columns>
                        </row>
                    </container>
                    <wrapper class="img-header-weekly" style="background-image: url({{headerBG}});">
                        <container>
                            <row class="wrapper-title-main">
                                <columns valign="middle">
                                    <span style="display: block;padding-top: 12px;padding-bottom: 13px;"></span>
                                    <h1 class="title-main-weekly text-center">{{titleHeader}}</h1>
                                    <span style="display: block;padding-top: 6px;padding-bottom: 6px;"></span>
                                    <span class="wrapper-header-subtitle text-center">
                                        <img src="{{iconSubTitle}}" alt="icon" class="icon-subtitle note">
                                        <span class="header-subtitle">{{subTitleHeader}}</span>
                                    </span>
                                </columns>
                            </row>
                        </container>
                    </wrapper>


