
<span class="preheader">{{description}}</span>
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center>

                <container class="main-container">
                    <spacer small="10" large="20"></spacer>
                    <wrapper class="header" style="background-image: url({{headerBG}});">
                        <spacer size="14"></spacer>
                        <container>
                            <row>
                                <columns large="9" class="header-column">
                                    <img src="https://www.englishdom.com/dsd/img/emails/responsive/englishdom-logo.png" alt="logo" width="146" height="42" class="logo">
                                    <spacer size="20" class="without-padding"></spacer>
                                    <h1 class="title-header {{title-custom}}">{{{titleHeader}}}</h1>
                                </columns>
                                <columns class="large-offset-3"></columns>
                            </row>
                        </container>
                    </wrapper>


